<ul class="media-list">
  <% posts.each do |post| %>
  <% user = post.user %>
    <li class="media">
      <div class="media-left">
        <% if @user.image? %>
　　      <%= image_tag @user.image.thumb.url, { size: 50 } %>
　      <% else %>
　　      <img class="media-object img-rounded" src="<%= gravatar_url(@user, { size: 50 }) %>" alt="">
　      <% end %>
      </div>
      <div class="media-body">
        <div>
          <%= link_to user.name, user_path(user) %> <span class="text-muted">posted at <%= post.created_at %></span>
        </div>
        <div>
          <p><%= post.content %></p>
          <p><%= image_tag post.image.thumb.url if post.image.present?%></p>
        </div>
        <div>
          <% if current_user == post.user %>
            <%= link_to "削除", post, method: :delete, data: { confirm: "本当に削除してよろしいですか？"}, class: 'btn btn-danger btn-xs' %>
          <% end %>
        </div>
          <%= link_to '返信', new_post_retweet_path(post), class: 'btn btn-primary btn-xs' %>
      </div>
    </li>
    <li>
      <ul>
        <% post.retweets.order(updated_at: :desc).each do |retweet| %>
          <li><%= retweet.user.name %>: <%= retweet.content %>: <%= retweet.updated_at %> <%= link_to '削除', retweet, method: :delete if retweet.user == current_user %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
  <%= paginate posts %>
</ul>
